<header id="header-db" class="row" role="navigation">
  <div class="header-content">
    <div class="toggle-nav pull-left">
        <i class="fa fa-bars"></i>
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
    </div>
    <!--logo start-->
    <div class="logo pull-left">
      <a href="https://github.com/OpenKitten/MongoKitten">
        <img src="https://avatars3.githubusercontent.com/u/19551949?v=3&s=200", alt="MongoKitten" />
      </a>
    </div>
    <!--logo end-->
    {{ partial "header/topRight.html" . }}
  </div>
</header>

